:root {
  --green: rgba(132, 183, 61, 1);
  --orange: rgba(254, 170, 1, 1);
  --yellow: rgba(247, 208, 71, 1);
  --white: rgba(243, 243, 243, 1);
  --white1: rgba(255, 255, 255, 1);
  --black: rgba(45, 45, 47, 1);
  --black1: rgba(75, 71, 71, 1);
  --black2: rgba(0, 0, 0, 1);
  --black3: rgba(65, 62, 63, 1);
  --gray: rgba(119, 119, 121, 1);
  --gray1: rgba(85, 80, 80, 1);
  --gray2: rgba(184, 184, 186, 1);
  --gray3: rgba(67, 71, 73, 1);
  --gray4: rgba(122, 125, 129, 1);
  --gray5: rgba(239, 239, 239, 1);
  --gray6: rgba(92, 95, 102, 1);
}
